.nav{
position: absolute;
margin-left: 30px;
display: flex;
}
.navLogo{
display: flex;
 
@media screen and (min-width:769px){
    margin-left: 351px;
    margin-top: 18px;
    margin-right: 104px;
  }
@media screen and (max-width:768px){
    margin-left: 20px;
margin-top: 15px;
//margin-right: 104px;
  }
@media screen and (max-width:320px){
    
  }
}
.logo{
    margin-right: 30px;
}
.nameSite{
    width: 282px;
    height: 46px;
    
    margin-top: 3px;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    font-family: Raleway;
}