.navMenu {
  background-color: #393186;
  position: absolute;
  margin-top: 88px;
  height: 35px;
  max-width: 1860px;

  
  @media screen and (max-width:768px){
    max-width: 768px;
    height: 87px;
  } 
  @media screen and (max-width:320px){
    max-width: 320px;
    height: 74px;
  }
}
.navMenuUl {
  display: flex;
  margin-left: 326px;
  margin-right: 322px;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style-type: none;
}
.menuNav {
  color: #ffffff;
}
.menuNav :focus,
.menuNav:hover {
  color: #97b2e4;
  cursor: pointer;
}
