.navTown{
display: flex;
width: 386px;
height: 47px;
margin-top: 18px;
margin-right: 90px;
}
.selectItem{
    display: block;
    text-align: center;
    width: 245px;
    height: 47px;
    border: 1px solid #393186;
    box-shadow: 0px 4px 4px rgba(59, 23, 143, 0.5);
    border-radius: 4px;
    //text-align: center;
}
.town{
    //display: block;
    //text-align: center;
    //justify-items: center;
    font-size: 16px;
    font-family: Raleway;
    color: #1F1F1F;
    width: 155px;
    //margin-left: 19px;
}








