.navTown{
display: flex;
width: 386px;
height: 47px;
margin-top: 18px;
margin-right: 90px;
}
.selectItem{
    display: block;
    padding-left: 15px;
    width: 245px;
    height: 47px;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 4px 4px #c4bdbd;
    border-radius: 4px;
    outline: none;
   
}
.town{
    font-size: 16px;
    color: #1F1F1F;
    width: 155px;
}

.town-n{
    display: block;
    margin-right: 5px;
}

.imgTown{
    width: 17px;
    height: 24px;
    margin-right: 5px;
    margin-top: 14px;
}




