.consultation-section{
    background-repeat: no-repeat;
    background-size: 1858px;
}
.consultation-container{
    display: flex;
}
.chief-physician{
    width: 319px;
    padding-top: 100px;
    margin-bottom: 220px;
}
.name-doctor{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 28.5px;
}
.doctor{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 28.5px;
}
.foto-doctor{
    border-radius: 10px;
}
///-----------------//
.quotation{
width: 832px;
padding: 37px 40px 37px 17px;
background-color: #453D92;
margin-top: 100px;
margin-left: 67px;
}
.fund-activities{
    font-size: 23px;
    font-weight: 400;
    font-style: italic;
    color: #FFFFFF;
}
.rule{
    margin-left: 97px;
    color: #A3C359;
    font-size: 48px;
    font-weight: 700;
}
.quotation-images{
    display: block;
    float: right;
    position: relative;
    top: -60px;
    left: 60px;
}
////----------------------//
.form-consultation{
display: block;
width: 832px;
padding: 42px 74px 50px 74px;
margin-left: 67px;
background-color: #E0E0E0;
border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 10px;
margin-bottom: 101px;
}
.title-form{
    font-size: 32px;
    font-weight: 700;
    color: #393186;
    margin-bottom: 20px;
}
.text-form{
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 31px;
}
.tel-form{
    width: 282px;
    height: 60px;
    padding: 16px 20px 18px;
    color: #828282;
    border-radius: 4px;
    outline: none;
}
.tel-form:hover{
    border: 2px solid #A3C359;
    border-radius: 4px;
}
.button-form{
    padding-top: 20px;
    padding-bottom: 21px;
    text-align: center;
    width: 372px;
    margin-bottom: 20px;  
}

.checkbox-form{
    
    border: 1px solid #BDBDBD;
    background: #FFFFFF;
    border-radius: 2px;
    margin-right: 20px;


    display: none;
    
}

.form-label-checkbox{
    display: block;
    color: #828282;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.form-label-checkbox::before{
    content: " ";
    font-size: x-large;
    color: #A3C359;
    background-color: #FFFFFF;
   display: inline-flex;
    margin-right: 20px;
    position: relative;
   justify-content: center;
   align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #726f6f;
    border-image: initial;
  vertical-align: middle;
}
/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
.checkbox-form:checked + .form-label-checkbox:before {
  content: "x";
  
}
/* disabled */
.checkbox-form:disabled + .form-label-checkbox:before {
  background: #eee;
  color: #aaa;
}
.checkbox-form:checked + .form-label-checkbox{
    color: #393186;

}
.form-field{
    display: flex;
  align-items: center;
}