.section-price{
    background-color: #F1F2F4;
    border-radius: 10px;
    padding-bottom: 100px;
}

.container-services{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    //padding-right: 60px;
    
    
}
.container-service-prise{
    width: 1218px;
    
    margin-left: auto;
    margin-right: auto;
    //padding-left: 60px;
}
.service-prise-title{
    padding-top: 94px;
}
.table-services{
    
width: 100%;
padding-left: 40px;
padding-right: 40px;
border: 1px solid #E0E0E0;
padding-bottom: 40px;
}
.table-services td {
  border-top: 1px solid #ccc;
  padding: 9px 8px;
  
}
.table-services caption{
    background-color: #393186;
    color: white;
    border-radius: 10px;
}
.table-button{
    width: 100%;
    height: 60px;
    padding: 0px;
}

.block-table{
    width: 594px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 80px;
    background-color: white;
}

////////////
.card{
  width: 386px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  box-sizing: border-box;  
}
.title-card{
    display: flex;
    flex-direction: row;
    //padding-left: 30px;
   // padding-top: 30px;
    
}
.title-card h3{
  padding-left: 10px;
  margin-left: 20px;
  margin-top: 0px;
}
.title-card img{
 height: 66px;
}
.card-inform{
    display: flex;
    flex-direction: row;
    //margin-top: 80px;
   // padding-left: 30px ;
    //padding-bottom: 30px;
}
.inform-tel{
 padding-left: 20px;
}
.discount{
margin-top: 0px;
}
.inform-tel p{
    margin-bottom: 2px;
    margin-top: 2px;
}
.telefonSite{
   // margin-left: 0px;
    color: #828282;
    font-size: 14px;
}
.telefon{
font-size: 24px;
font-weight: bold;
color: #393186;
padding-bottom: 5px;
}
.card-telImg{
    margin-top: 0px;
    height: 24px;
}
.card-information{
    padding: 30px;
}
.card-description{
    line-height: 1.6;
    font-size: 16px;
    font-weight: normal;
}
.deferral-information{
    color: #393186;
    font-size: 16px;
    font-weight: normal;
}
.card-button{
    width: 100%;
    height: 60px;
}
.card-payment{
    display: flex;
   // flex-direction: row;
    justify-content: space-between;
    
}