.foto-section1 {
  display: block;
}

.img1 {
  margin-top: 171px;
  margin-left: 31px;
  border-radius: 60px;
  width: 676px;
  height: 505px;
  
  @media screen and (max-width:1199px){
    height: 441px;
    width: 590px;
  }
  @media screen and (max-width:767px){
    height: 237px;
    width: 320px;
  }
}
.imgTwo {
  position: absolute;
  margin-top: 216px;
  margin-left: -30px;
  border-radius: 200px;
  width: 178px;
  height: 178px;
  z-index: 2;
}
.imgThree {
  position: absolute;
  margin-top: 650px;
  margin-left: -84px;
  border-radius: 10px;
  width: 236px;
  height: 225px;
  z-index: 2;
}
.img4 {
  position: absolute;
  margin-top: 618px;
  margin-left: -370px;
  border-radius: 4px 4px 4px 60px;
  width: 202px;
  height: 202px;
  z-index: 2;
}

.section1 {
  background-color: #eeeaea;
  border-radius: 0px 0px 10px 10px;
  
  @media screen and (min-width:1860px){
    height: 900px;
    width: 1860px;
  }
  @media screen and (max-width:1859px){
    height: 900px;
    width: 100%;
  }
  @media screen and (max-width:1200px){
    height: 1453px;
    min-width: 768px;
  }
  @media screen and (max-width:768px){
    height: 1676px;
    max-width: 768px;
  } 
  @media screen and (max-width:320px){
    height: 1676px;
    max-width: 320px;
  } 
}

// прайс

.consultation {
  position: absolute;
  top: 183px;
  margin-left: 945px;
  width: 594px;
  height: 613px;
  z-index: 3;

  background-color: #eeeaea;
}

.miniTitle {
  color: #a3c359;
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
.title-sections {
  margin-bottom: 39px;
}
.priseButton {
  background-color: #393186;
  width: 238px;
  height: 35px;
  border-radius: 4px;
  padding-left: 18px;
  padding-right: 17px;
  margin-bottom: 40px;
}
.prise {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
}

li {
  list-style-type: none;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 18px;
}
.consult {
  padding-left: 0px;
}
.elips {
  margin-right: 21px;
}

.constButton {
  width: 313px;
  height: 60px;
  margin-top: 32px;
}
